#oc-greet {
  display: block;
  border: 2px solid var(--link);
  background-color: var(--darker-other);
  padding: 15px;
  margin-bottom: 8px;
  flex: 1;
  order: 1;
}

.ocinfo {
  display:flex;
  border: 2px solid var(--link);
  padding:5px;
  height:150px;
  margin:10px 
}